/* Import Open Sans from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.6; 
}

